.xoa, .sua{
	background: none repeat scroll 0 0 royalblue;
	border: medium none;
	color: #fff;
	padding: 10px 10px;
	cursor: pointer;
	margin: 3px 10px;
	font-size: 15px;
}
		
.xoa {
	margin: 2em 52.4em;
	background: darkred;
}